p{
  color:white;
  font-family: 'DM Serif Text', serif;
  font-size:20px;
}

img {
   display:block;
   margin:0 auto;
}

video{
   display:block;
   margin:0 auto;
}

.screenshot{
  margin-top:10%;
  margin-bottom:70px;
}

.desktop{
  margin-bottom:70px;
}

a:link {
  color: #879395;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color:#62B8CD;
}

a:visited{
  color:#879395;
}

a:active{
  color:#62B8CD;
}

h1 {
	font-size: 48px;
	line-height: 1;
	margin-top: 10%;
  margin-left:10%;
	width: 8em;
  font-family: 'DM Serif Text', serif;
  color:#879395;
}

h2 {
  margin-left:10%;
  font-family: 'DM Serif Text', serif;
  color:#879395;
}

h3{
  margin-left:10%;
  font-family: 'DM Serif Text', serif;
  color:#879395;
}

p{
  font-family: 'DM Serif Text', serif;
  color:#879395;
  margin-left:10%;
  margin-right:30%;
}
