p{
  color:white;
  font-family: 'DM Serif Text', serif;
  font-size:20px;
}

img {
   display:block;
   margin:0 auto;
}

video{
   display:block;
   margin:0 auto;
}

.screenshot{
  margin-top:10%;
  margin-bottom:70px;
}

.desktop{
  margin-bottom:70px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 16px;
  background: #62B8CD;
}

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color:#879395;
}

a:visited{
  color:white;
}

a:active{
  color:#879395;
}